/* Style file for index.html
1 --- Global variable
2 --- Layout
/
/* 1 ---- Globale variable ----- */
:root{
    --color-bg-body: hsl(205,78%, 56%);
    --color-bg-gradient: linear-gradient(135deg, #43a1e8, #bff5fe);
    --color-bg-section: hsl(80,50%,90%);
    --color-font-body: rgb(95, 4, 4);
    --color-board-frame: hsl(15, 40%, 33%);
    --color-top-bar: hsl(240, 100%, 27%);
    --img-board: url('../img/water.webp');
    --img-cardback: url('../img/BACK.png');
    --img-cardfront1: url('../img/Normal_bg.webp');
    --img-cardfront2: url('../img/Pasisve_bg.webp')
}
/* Required-- put them into the right position */
#zen-explanation{--pos-top: 170px; --pos-left: 400px; --tilt: -40deg; --front-color: var(--img-cardfront1);z-index: 10;}
/*#zen-participation{--pos-top: 180px; --pos-left: 50px; --front-color: var(--img-cardfront2);z-index: 10;}*/
#zen-participation{--pos-top: 180px; --pos-left: 50px; --front-color: var(--img-cardfront2); z-index: 100;}
#zen-preamble, #zen-summary, #zen-benefits, #zen-requirements {display: none;}
/*
#zen-summary{--pos-top: 70px; --pos-left: 500px; --tilt: -10deg; --front-color: var(--img-cardfront1);z-index: 10;}
#zen-preamble{--pos-top: 330px; --pos-left: 500px; --tilt: 5deg; --front-color: var(--img-cardfront1);z-index: 10;}
#zen-benefits{--pos-top: 80px; --pos-left: 700px; --tilt: 10deg; --front-color: var(--img-cardfront1);z-index: 10;}
#zen-requirements{--pos-top: 70px; --pos-left: 800px; --front-color: var(--img-cardfront1);z-index: 10;}
*/

body{
    background-image: var(--color-bg-gradient);
    height: 100vh;
    color:var(--color-font-body);
}
/* 2 --- Layout */

.page-wrapper{
    background-image: var(--img-board);
    position: fixed;
    /* Required: adjust left, top, width, height, make the board in the middle */
    left: 10%;
    bottom: 20px;
    width: 1000px;
    height: 80vh;
    /* Required: get the board frame */
    border: 10px solid var(--color-board-frame);
    transform-origin: bottom center;
    /*please adjust the value to make it looks nice */
    transform: perspective(800px) rotateX(30deg) translate(10px,10px) scale(0.5);
    transform-style: preserve-3d;
    /*animation: pictureAnimation 10s infinite; */
}
/*
.page-wrapper:hover{
animation-play-state: paused;
} */

@keyframes pictureAnimation{
    0% {margin-left: 0%;}
    50% {margin-left: -25%;}
    100% {margin-left: 0%;}
}
.extra1{
    /* move it under the table to make the frame */
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 800px;
    height: 20px;
    background-color: #502F22;
}
/* relative position */
header abbr{
    position: relative;
    top: -10px;
    font-size: 0.5em;
}
.intro, .supporting{
    display:contents;
}
article{
    position: absolute;
    top: var(--pos-top);
    left: var(--pos-left);
    /* Can you rotate at different angle using variable */
    transform: rotate(var(--tilt,30deg));
    background-image: var(--img-cardback);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90px;
    height: 150px;
    overflow: hidden;
    /* Element Model */
    padding: 5px 10px 20px 8px;
    border: 2px dotted white; /* Get a border radius to make the card looks nice.*/
    transition: all 3s;
}
article:active{
    background-image: var(--front-color);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 50vh;
    transform-origin: 500px 80vh;
    transform: rotateX(-30deg);
}
/* Everything inside of block */
article > *{
    opacity: 0;
    transition: opacity 3s;
}
article:active >*{
    opacity: 1;
}
/* hide the element */
aside{
    display: none;
}

/*Required - Web font /local font, add some text decorations (2/3) */
header h1{
    font-family: "Playwrite BE WAL Guides", cursive;
    font-size: 2em;
}
@font-face {
    font-family: 'myFont';
    src: url('../fonts/chunkfive.woff') format('woff'),
    url('../fonts/chunkfive.svg') format('svg');
    font-weight: normal;
    font-style:italic;
}
header h2{
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
a{
    text-transform: uppercase;
}
/* Understand display and visibility , sibling selector*/
/* All paragraphs which are sibling of h3 will have text-transform: uppercase */
h3 + p{
    display: none;
}
/* more practice on selector */
article h3::first-letter{
    font-size: 3em;
}
article:first-child{
    text-shadow: 0.5em 0.1em 1em black ;
}
p:nth-child(2n){
    background-color: brown;
    box-shadow: -25px -25px 50px black;
}
aside ul{
    list-style-image: url("../img/star.png");
}
/* style the footer element */
footer{
    position: fixed;
    top: 0 ;
    left: 0 ;
    width: 100%;
    display: flex; /* make it horizontal */
    gap: 8px;
    padding: 10px;
    /*animation: horizontalmove 5s linear infinite;*/
}
footer a{
    background-color: var(--color-top-bar);
    text-decoration: none;
    /* try other styles */
}
/*
@keyframes horizontalmove{
0%{ transform: translateX(0);}
50%{ transform: translateX(100%);}
100%{transform: translateX(0);}
} */